<h1>Confirmer votre adresse mail!</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
   Cordialement<br>
   <i> A.G Distribution </i>
</p>
