/* **************************************** GLOBAL **************************************** */  

* {
    font-size: lighter;
    font-family: roboto sans-serif;
    list-style-type: none;
}

/* **************************************** NAV **************************************** */

nav { 
    min-height: calc(100vh - 78.4px - 50px);
   
}
.machine {
    width: 18px;
    color: var(--color-white);
}

nav a { 
    color: var(--color-black);
    
}

nav a:hover {
    color: var(--color-light-grey);
           
}

#aside{
    background-color: rgb(80, 51, 4);
}

.header-bg { 
    background-color:rgb(53, 35, 6);
}

/* .card-img{
    
    width: 100%;
    
   
} */
.img-fluid{
   width: 100%;
  
}

/* **************************************** TABLE **************************************** */

table img { 
    width: 100px;
}

/* **************************************** FOOTER **************************************** */

footer p {
    font-size: 0.75em;
    
}
.footer-bg {
    background-color:rgb(53, 35, 6);
}