/* **************************************** GLOBAL **************************************** */  

* {
    font-size: lighter;
    font-family: roboto sans-serif;
    list-style-type: none;
}

/* **************************************** NAV **************************************** */

nav { 
    min-height: calc(100vh - 78.4px - 50px);
   
}

nav a { 
    color: var(--color-white);
}

nav a:hover {
    color: var(--color-light-grey);
           
}
#aside{
    background-color: rgb(80, 51, 4);
}

.header-bg { 
    background-color:rgb(53, 35, 6);
}
/* .navbar {
    background:rgb(80, 51, 4);
   
} */
.card-img{
    margin-top: 10px;
    width: 100px;
    height: 300px;
   
}

/* **************************************** TABLE **************************************** */

table img { 
    width: 100px;
}

/* **************************************** FOOTER **************************************** */

footer p {
    font-size: 0.75em;
    
}
.footer-bg {
    background-color:rgb(53, 35, 6);
}