/******************************** GLOBAL  *****************************************************************************/

@import url("https://fonts.googleapis.com/css2? family= Oswald & family= Roboto+Condensed:wght@400;700 & family= Roboto:wght@400;900 & display=swap");

*,
::before,::after {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: roboto sans-serif;
}
html,
body {
  color: #0f0f0f; 
  background-color: #f3ece1;
 
}
/********************************************************** HEADER  ****************************************************************/
.menu {
  background: #f5e1c1;
  width: 100%;
  height: 115px;
 
}
.logo {
  width: 200px;
}
.m-left {
  float: left;
}
.m-right {
  float: right;
  font-weight: bold;
  font-size: 35px;
  display: flex;  
}
.m-link {
  color:rgb(37, 22, 1);
  font-weight: 400;
  padding: 25px;
  list-style: none;
}
.m-link:hover {
  border-radius: 50%;
  background-color: #032A2D;
  color:rgb(247, 242, 236)
  
}

.nav-link .dropdown-toggle {
  color:rgb(37, 22, 1);
  font-weight: 400;
  padding: 25px;
  list-style: none;
}
.nav-link .dropdown-toggle {
  border-radius: 50%;
  background-color: rgb(56, 25, 2);
  color:rgb(247, 242, 236)
}
.nav-link {
  color: rgb(37, 22, 1);
  font-weight: 400;
  padding: 25px;
  list-style: none;
}
.nav-link:hover {
  border-radius: 50%;
  background-color: rgb(56, 25, 2);
  color:rgb(247, 242, 236)
}
.dropdown .dropdown-menu{ 
  display: none;
  font-weight: 400;
  padding: 25px;
  position: absolute;
  list-style: none;
  vertical-align:top;
}
.dropdown:hover .dropdown-menu{
  display: block;
  list-style: none;
}
.dropdown-item {
  color:white;
  background-color:#032A2D;
  font-weight: 400;
  padding: 25px;
  margin-top:10px;
  font-size:35px; 
}
/************************************************************** Main ********************************************/
.video {
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
    position: relative;
    z-index:5;
    opacity: 0.9;  
}
.texte h1 {
    margin-top: -30em;
    display: flex;
    justify-content: center;
    color: rgb(37, 22, 1);
    z-index: 30;
}
  
.texte { 
    color: rgb(37, 22, 1);
    font-family: "Roboto", sans-serif; 
    text-transform: capitalize;
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 1px rgb(160, 161, 156);
    line-height: 1.20;
    letter-spacing: 0.15em;
    z-index: 10;
    display:flex;
    justify-content: center;
    flex-direction:column;
}

.citation {
    color: rgb(37, 22, 1);
    z-index: 30;
}

.section {
    z-index: 20;
}
  
.section1 { 
   color: rgb(37, 22, 1);
     margin:100px;
     text-align: center;         
}
.titre {
     padding:50px;
     margin:0px;  
}
.img {
  width: 50%;
  border-radius: 50%;
} 
  
.h5 {
  font-weight: bold;
}
.container-fluid  footer {
  color: rgb(37, 22, 1);
  background-color: rgb(216, 214, 200);
  font-size:small;
  margin-top: 10px;
} 
#icone a { 
  color:#CC9544;; 
}
#icone a:hover {
  color:  rgb(37, 22, 1);
}
#apropos a {
  color:#CC9544;;
}
#apropos a:hover {
  color:  rgb(37, 22, 1);
}
.btn-register {
  background-color: #CC9544;
  border-radius: 50%;
  color:rgb(37, 22, 1);
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
  padding: 20px 20px;
  margin: 20px;
 
}
.btn-login {
  background-color: #CC9544;
  border-radius: 50%;
  color:rgb(37, 22, 1);
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
  padding: 20px 20px;
  margin: 20px;

}
.btn-mache {
  background-color: #CC9544;
  border-radius: 50%;
  color:rgb(37, 22, 1);
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
  padding: 10px 20px;
  margin: 10px;
}
.card {
  margin-left: auto;
  margin-right: auto;
  width:192px; 
  padding: 10px;
  color: rgb(37, 22, 1);
  background-color: rgb(243, 211, 169);
  /* border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1); */
}  

.card card-img-top1 { 
 width: 100%;
 height:80vh;
 font-weight: bold;
 font-family: "roboto" sans-serif;
 font-size: 25px;
}
.btn-1{
  background-color: #CC9544;
  border-radius: 50%;
  color:rgb(37, 22, 1);
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
  padding-top: 10px;
}
.btn-1:hover { 
  background-color: rgb(56, 25, 2);
  color:rgb(247, 242, 236)
}
.btn-2{
   padding-top:10px;
   margin: 15px;
  background-color: #CC9544;
  border-radius: 50%;
  color:rgb(37, 22, 1);
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
}

.btn-2:hover { 
  background-color: rgb(37, 22, 1);;
  color:rgb(247, 242, 236)
}
.btn-machine {
    padding: 10px 20px; 
    background-color: #CC9544;
    border-radius: 40%;
    color:rgb(37, 22, 1);
    box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
}
.btn-machine:hover{
  background-color: rgb(37, 22, 1);;
  color:rgb(247, 242, 236)
 
}
.card card-body {
   top: 30px;
   width: 100%; 
   height: 30vh;
} 

.btn-form1 {
  background-color: #CC9544;
  border-radius: 50%;
  color:rgb(37, 22, 1);
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
  padding: 10px 20px;
  margin: 10px;
}
.btn-form1:hover { 
  background-color: rgb(37, 22, 1);;
  color:rgb(247, 242, 236)
}
.card2 {
  margin: auto;
  width: 500px; 
  padding: 30px;
  color: rgb(37, 22, 1);
  background-color: rgb(243, 211, 169);
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
 
} 
.card2 card-img-top2 { 
 margin-left: 50px;
 margin-right: 50px;
 display: block;

} 
.card3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
 margin-bottom: 20px;
  width: 500px; 
  padding: 30px;
  color: rgb(37, 22, 1);
  background-color: rgb(243, 211, 169);
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
} 
.card5 { 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 300px; 
  padding: 10px;
  color: rgb(37, 22, 1);
  background-color: rgb(243, 211, 169);
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
}
.card-img-top {
  margin: auto;
  display: block;
} 
.card-img-top4 {
  margin: auto;
  padding: 30px;
  display: block;
} 
.card card-body4 {
  width: 100px; 
  height: 30vh;
  margin: 20px;
  padding: 30px;
}  
 
.card6 { 
  /* margin-left: auto;
  margin-right: auto; */
  margin: auto;
  width: 500px; 
  padding: 30px;
  color: rgb(37, 22, 1);
  background-color: rgb(243, 211, 169);
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
 
} 
.container-fluid{
  font-size: 20px;
  font-family: Roboto;
  color: rgb(37, 22, 1);
}
.commande{
  display:border;
  padding-bottom: 10px;
}


  /************************************************************ FOOTER ***********************************************************/
  
  .footer {
    background-color: #f5e1c1 ;
  }
  /* @media screen and (min-width:576px) {
    .citation {
      margin-top: auto;
    }
  } */
 

