

/************************************************************** Main ********************************************/


 /* .texte h1 {
    margin-top: -15em;
    display: flex;
    font-family: roboto sans-serif;
    justify-content: center;
    color: rgb(37, 22, 1);
    z-index: 30;
}  */
  
/* .texte { 
    color: rgb(37, 22, 1);
    font-family: "Roboto", sans-serif; 
    text-transform: capitalize;
    text-align: center;
    font-size: 5vw;
    text-shadow: 1px 1px 1px rgb(160, 161, 156);
    line-height: 1.20;
    letter-spacing: 0.15em;
    /* z-index: 10; */
    /* display:flex;
    justify-content: center;
    flex-direction:column; 
} */



/* .section {
    z-index: 20;
}
   */



 

/* .container-fluid{
  font-size: 20px;
  font-family: Roboto;
  color: rgb(37, 22, 1);
} */
/* .commande{
  display:border;
  padding-bottom: 10px;
} */




  /************************************************************ FOOTER ***********************************************************/
  
 



  /***************************************** Responsive***************************************/


   





  
      
    
   
 

