/******************************** GLOBAL  *****************************************************************************/

@import url("https://fonts.googleapis.com/css2? family= Oswald & family= Roboto+Condensed:wght@400;700 & family= Roboto:wght@400;900 & display=swap");

*,
::before,::after {
padding: 0;
margin: 0;
box-sizing: border-box;


}
html,
body {
 
  /* display: grid;   */
  color: #0f0f0f; 
  background-color: #f5e8d6;  
}
/********************************************************** HEADER  ****************************************************************/
.menu {
  background: #f5e1c1;
  width: 100%;
  height: 115px;
 
}
.m-left {
  float: left;
}
/* .logo {
  margin: 0;
  padding: 0;
} */
.m-right {
  float: right;
  font-weight: bold;
  font-family: "roboto" sans-serif;
  font-size: 35px;
  /* justify-content: space-around; */
  display: flex;
  /* list-style-type: none; */
  
}
.m-link {
  color: rgb(22, 18, 7);
  /* text-decoration: none; */
  font-weight: 400;
  padding: 25px;
  /* margin: 15 px; */
  /* border-bottom: 2px solid transparent; */
}
.m-link:hover {
  /* padding-bottom: 2px; */
  border-radius: 50%;
  background-color: rgb(56, 25, 2);
  color:rgb(247, 242, 236)
  
}

/************************************************************** Main ********************************************/
.video {
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
    position: relative;
    z-index:5;
    opacity: 0.9;
    
  }
  .texte h1 {
    margin-top: -30em;
    display: flex;
    justify-content: center;
    color: black;
    z-index: 30;
}
  
  .texte { 
    color: rgb(7, 7, 7);
    font-family: roboto sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 1px rgb(160, 161, 156);
    line-height: 1.20;
    letter-spacing: 0.15em;
    z-index: 10;
    display:flex;
    justify-content: center;
    flex-direction:column;
  }

  .citation {
    color: black;
    z-index: 30;
  }

  .section {
    z-index: 20;
  }
  
 .section1 { 
   color: black;
     margin:100px;
     text-align: center; 
     
     
 }
 .titre {
     padding:50px;
     margin:0px;
    
    
 }
  .img {
  width: 50%;
  border-radius: 50%;
  } 
  
.h5 {
  font-weight: bold;
}
/* .container-fluid {
  color: rgb(10, 6, 1);
  background-color: rgb(216, 214, 200);
  font-size:small;
} */
 /* a{ 
  color: black;
  flex-direction:column;
} */
.card1 {
  left: 50px; 
  top: 50px;
  width:60% ; 
  height: 200px;
  /* margin: 100px; */
  color: rgb(37, 22, 1);
  background-color: rgb(243, 211, 169);
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgb(37, 22, 1), 0 6px 20px 0 rgb(37, 22, 1);
  margin-bottom: 25px; 
  height:500px;  
  padding: 30px; 
  display:flex; 
  align-items: center; 
  justify-content: center  
  /* align-content: center; */
 
} 
/* .card-img-top { 
  max-width: 100%;
  max-height: 200px;
 }  */
  .fa-user {
  position: absolute;
  /* left: 0; */
  
  padding:9px 8px ;
  color:rgb(102, 71, 5);
  display: flex;
  } 
  .lien{
    border-radius:50px;
  }
  .btn{
    background-color: #7c602d;
    color:black;
  }

  /************************************************************ FOOTER ***********************************************************/
  
  .footer {
    background-color: rgb(248, 199, 126);
  }
 

