{% extends 'base1.html.twig' %}

{% block title %}CATEGORY{% endblock %}

{% block body %}

<h1 class="text-center p-5">Découvrez Nos Catégories </h1>
        <div class="row ">
            {% for category  in categories %}
            <div class="col-12  col-sm-4 col-md-6 col-xl-6 center ">
                <div class="card ">
                    <img src="{{ asset('images/categorie/'~ category.img)}}" class="imge-fluid" alt=" aprovisionnement">
                        <div class="card-body2 text-center">
                            <h5 class="card-title1">{{category.title}}   </h5>
                            <p class="card-text">{{ category.description}}</p>
                            <a href="{{ path('product_index',{'id': category.id}) }}" class="btn-1 ">voir plus</a>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
