{% extends 'baseAdmin.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
   <h1>Accueil de l'espace administrateur</h1>
   <div class="card bg-beige text-center ">
      <img src="{{ asset('images/cuillere a café.jpg')}}"class="card-img width=250px" alt="photo">
      <div class="card-img-overlay">
        <h5 class="card-title">espace Administrateur</h5>
        
      </div>
    </div>
{% endblock %}
