<!-- Cookie pop up -->
<div class="cookie-consent-modal active">
    <div class=" text-center content ">
        <h1>Autorise les cookies</h1>
        <p>ce site utilise des cookies pour vous garantir la meilleure expérience sur notre site.</p>
            
        <div class="btns">
            <button class="btn cancel">cancel</button>
            <button class="btn accept">accept</button>
        </div>
       <a href="{{ path('politique') }}">Politique de Confidentialité</a>
    </div>
</div>
<!-- END OF Cookie pop up -->